# Local/private config goes in the include
# Use separate file for username / github token / etc
[include]
	path = .gitconfig.local

#[user]
#	name = ** Put Your Name **
#	email = ** Put Your Email **

[gui]
[http]
	postBuffer = 52428800

[core]
#	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
#	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -noPlugin

# https://help.github.com/articles/using-sublime-text-2-as-your-default-editor
# http://www.sublimetext.com/docs/2/osx_command_line.html
	editor = 'C:/Program Files/Sublime Text 3/sublime_text.exe' -w

[merge]
    tool = kdiff3

[mergetool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe

[mergetool]
    keepBackup = false
	trustExitCode = false

[diff]
    tool = kdiff3

[difftool "kdiff3"]
    path = C:/Program Files/KDiff3/kdiff3.exe
    
[difftool]
    prompt = false
	trustExitCode = false